<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Project 1&2: <%= title %></h1>
    <p>by Andrew Langwell</p>
    <h2>View All Pages</h2>
    <a href="/team/all">Teams</a> |
    <a href="/stadium/all">Stadiums</a> |
    <a href="/player/all">Players</a> |
    <a href="/game/all">Games</a>
  <br>
  <h2>Queries</h2>
    <a href="/query/Q1">Query 1</a> |
    <a href="/query/Q2">Query 2</a> |
    <a href="/query/Q3">Query 3</a> |
    <a href="/query/Q4">Query 4</a> |
    <a href="/query/Q5">Query 5</a> |
    <a href="/query/Q6">Query 6</a> |
    <a href="/query/Q7">Query 7</a> |
    <a href="/query/Q8">Query 8</a> |
    <a href="/query/Q9">Query 9</a> |
    <a href="/query/Q10">Query 10</a>
  </body>
</html>
