<!DOCTYPE html>
<html>
<link rel='stylesheet' href='/stylesheets/style.css' />
    <head>
        <title>Team - Add</title>
    </head>
    <body>
        <h1>Add New Team</h1>
        <form action="/team/insert" method="get">
            Team's City: <input name="city">
            <br>
            Team Name: <input name="team_name">
            <br>
            League:
            <select name="league">
                <option value="American League">
                    American League
                </option>
                <option value="National League">
                    National League
                </option>
            </select>
            <br>
            Division:
            <select name="division">
                <option value="East"> East </option>
                <option value="Central"> Central </option>
                <option value="West"> West </option>
            </select>
            <br>
            <input type="submit">
        </form>
    </body>
</html>