<!DOCTYPE html>
<html>
<link rel='stylesheet' href='/stylesheets/style.css' />
<head>
    <title>Query 8</title>
</head>
<body>
<a href="../">Home</a> |
<a href="./Q1">Query 1</a> |
<a href="./Q2">Query 2</a> |
<a href="./Q3">Query 3</a> |
<a href="./Q4">Query 4</a> |
<a href="./Q5">Query 5</a> |
<a href="./Q6">Query 6</a> |
<a href="./Q7">Query 7</a> |
<a href="">Query 8</a> |
<a href="./Q9">Query 9</a> |
<a href="./Q10">Query 10</a>

<h1>Query 8</h1>

<p>
    -- Shows the number of players who play at a position
    <Br>SELECT p.position, COUNT(p.player_id) AS numberOfPlayers FROM position p
    <Br>GROUP BY p.position
    <br>ORDER BY numberOfPlayers;
</p>

<table border="1">
    <tr>
        <th>Position</th>
        <th>Total Players</th>
    </tr>

    <% for(var i = 0; i < result.length; i++) {%>
    <tr>
        <td><%= result[i].position %></td>
        <td><%= result[i].numberOfPlayers %></td>
    </tr>
    <% } %>
</table>
</body>
</html>