<!DOCTYPE html>
<html>
<head>
    <title>Query 9</title>
</head>
<body>
<a href="../">Home</a> |
<a href="./Q1">Query 1</a> |
<a href="./Q2">Query 2</a> |
<a href="./Q3">Query 3</a> |
<a href="./Q4">Query 4</a> |
<a href="./Q5">Query 5</a> |
<a href="./Q6">Query 6</a> |
<a href="./Q7">Query 7</a> |
<a href="./Q8">Query 8</a> |
<a href="">Query 9</a> |
<a href="./Q10">Query 10</a>

<h1>Query 9</h1>

<p>
    SELECT team_name FROM team
    <br>UNION
    <br>SELECT team_name FROM team_game;
</p>

<table border="1">
    <tr>
        <th>Team</th>
    </tr>

    <% for(var i = 0; i < result.length; i++) {%>
    <tr>
        <td><%= result[i].team_name %></td>
    </tr>
    <% } %>
</table>
</body>
<link rel='stylesheet' href='/stylesheets/style.css' />
</html>